*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 248, 249);
}

header{
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 30px;
}

header h1{
    display: inline-block;
    line-height: 62px;
    vertical-align: bottom;
    font-size: 42px;
}

main{
    max-width: 800px;
    margin: auto;
    background-color: white;
}

nav, section{
    padding-left: 60px;
}

nav button{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.add-task{
    height: 30px;
    width: 90px;
    background-color: rgb(67, 173, 239);
    color: white;
    border: none;
}

.add-section{
    height: 30px;
    width: 100px;
    background-color: white;
    color: rgb(211, 212, 212);
    border: 1px solid  rgb(211, 212, 212);
}

hr{
    background-color: rgb(229, 231, 232);
    height: 1px;
    border: 0;
}

#todo-list {
    margin-top: 30px;
}

.todo-type{
    padding-bottom: 20px;
}

#todo-list ul{
    list-style-type: none;
}

.todo-type h2{
    margin-bottom: 10px;
}

.todo{
    font-size: 18px;
    margin-bottom: 20px;
}

.check{
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 50%;
    margin-right: 10px;
}

.done{
    color: rgb(97, 192, 170);
    border: 1px solid rgb(97, 192, 170);
}

.not-done{
    color: red;
    border: 1px solid red;
}

.todo-category{
    color: white;
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 10px;
}

.editorial{
    background-color: rgb(67, 173, 239);    
}

.q1-goals{
    background-color: rgb(156, 114, 225);
}

.recruiting{
    background-color: rgb(97, 192, 170);
}

.mobile{
    background-color: rgb(243, 158, 60);
}

.website{
    background-color: rgb(217, 98, 159);
}

.sales{
    background-color: rgb(176, 201, 57);
}