*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 248, 249);
}

header{
    padding: 10px 20px;
    background-color: white;
}

header h1{
    display: inline-block;
    line-height: 62px;
    vertical-align: bottom;
    font-size: 42px;
}

